.statistics{
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;
    
}
.title{
    font-size: 25px; 
    color: #8c9aa7;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
}
.stat-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.label{
    display: block;
    font-size: 15px;
    color: #dfdfdf;
    text-align: center;
}
.percentage{
    display: block;
    font-size: 22px;
    color: #dfdfdf;
    text-align: center;
}
.item{
    min-width: 60px;
}
.item:first-child{
    border-bottom-left-radius:10px;
    border-top-left-radius:0px;
}
.item:last-child{
    border-bottom-right-radius:10px;
    border-top-left-radius:0;
}